.home-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .home-wrapper {
    width: 100%;
    box-sizing: border-box;
    .police-container {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      .police-content {
        display: flex;
        justify-content: center;
        .police-scroll {
          margin-top: 135upx;
          margin-left: 160upx;
          margin-right: 160upx;
          .police-item {
            margin-top: 12upx;
            margin-bottom: 12upx;
            width: 200upx !important;
            .police-list {
              display: flex;
              flex-direction: column;
              align-items: center;
              margin: 0 auto;
              image {
                width: 100%;
                height: 100%;
              }
              text {
                font-size: 19.44upx;
                position: absolute;
                bottom: 30px;
              }
            }
          }
        }
      }
    }
  }
}
